@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
        <tr>
            <th>EmpNo</th>
            <th>EName</th>
            <th>Job</th>
            <th>Salary</th>
            <th>DeptNo</th>
        </tr>
        <tr>
            <td>1001</td>
            <td>Markus Zusak</td>
            <td>Manager</td>
            <td>10000</td>
            <td>12</td>
        </tr>
         <tr>
            <td>1002</td>
            <td>Mark</td>
            <td>Manager</td>
            <td>10000</td>
            <td>12</td>
        </tr>
</table>